{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>CALENDIARY</title>

</head>

<body>
  
  <div class="calendar">
    <div class="header">
        <div class="year-month"></div>
       <div class="nav">
         <button class="nav-btn go-prev">&lt;</button>
         <button class="nav-btn go-today">Today</button>
         <button class="nav-btn go-next">&gt;</button>
       </div>
    </div>
    <div class="main">
      <div class="days">
          <div class="day">일</div>
          <div class="day">월</div>
          <div class="day">화</div>
          <div class="day">수</div>
          <div class="day">목</div>
          <div class="day">금</div>
          <div class="day">토</div>
      </div>
            <div class="dates"></div>
    </div>
  </div>
  <script src="/static/js/index.js"></script>
</body>
</html>